<div class="ui grid mg-top">
  <div class="ui raised very padded text container segment">
      <header>
          <h2 class="ui center aligned icon header">
            <i class="circular umbrella icon"></i>
            Climapp
          </h2>
        </header>
        <section>
            <section>
                <div class="ui segment">
                    <div class="ui two column very relaxed grid">
                      <div class="column">
                          <form class="ui form">
                              <div class="field">
                                <label>Pais</label>
                                <input type="text" name="first-name" placeholder="First Name">
                              </div>
                              <div class="field">
                                <label>Ciudad</label>
                                <input type="text" name="last-name" placeholder="Last Name">
                              </div>
                            </form>
                      </div>
                      <div class="column">
                        <p>Temperatura: </p>
                        <p>Latitud: </p>
                        <p>Longitud: </p>
                        <p>Humedad: </p>
                      </div>
                    </div>
                    <div class="ui vertical divider"></div>
                  </div>
            </section>
        </section>
  </div>
</div>
